@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.body {
    background-color: #737373;
    border: 0;
    margin: 0;
    animation-name: page;
    animation-duration: 1s;
    animation-iteration-count: 1;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

.img1 {
    border-radius: 50%;
    width: 40%;
    height: 30%;
    margin-top: 3vh;
    border: 6px solid #e5e5e5;
    box-shadow: 0 0 40px #000000;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    font-size: 4rem !important;
    color: #ffffff;
    border-bottom: 3px solid rgba(255, 255, 255, 0.36);
}

.p1 {
    font-size: 2.4rem;
    color: #ffffff;
    text-align: center;
    margin: 4vh;
    line-height: 6vh;
    margin-bottom: 6vh !important;
}

#p2 {
    margin-bottom: 10vh !important;
}

.a {
    width: 43%;
    height: 8vh;
    background-color: #545454;
    color: #ffffff;
    font-size: 1.9rem !important;
    margin: 1vh;
    align-content: center;
    text-align: center;
    border: 0;
    text-decoration: none;
    border-radius: 2vh;
}

.a:hover {
    background-color: #3e3e3e;
}

.a2 {
    width: 32%;
    height: 8vh;
    background-color: #545454;
    color: #ffffff;
    font-size: 1.8rem;
    margin: 12vh;
    align-content: center;
    text-align: center;
    border: 0;
    text-decoration: none;
    border-radius: 2vh;
}

.a2:hover {
    background-color: #3e3e3e;
}

.img {
    width: 100%;
}

.buttonH{
    font-size: 2.5rem;
    text-align: center;
    padding-left: 12px;
    width:88%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.36);
}

.spusok {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
    width: 64%;
    font-size: 3.2rem !important;
}

.spusok ol {
    list-style-type: none;
    font-size: 2.2rem;
    margin: 3vh;
}

.footer {
    text-align: center;
    font-size: 2.3rem;
    margin: 3vh;
}

@keyframes page {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .a {
        width: 80%;
        height: 7vh;
        font-size: 2.8rem !important;
        margin: 1vh;
    }

    .a2 {
        width: 52%;
        height: 7vh;
        font-size: 2.5rem !important;
        margin: 10vh;
    }

    .h1 {
        font-size: 3.2rem;
        color: #ffffff;
    }

    .spusok {
        font-size: 2.9rem;
        width: 100%!important;
    }
    .spusok ol {
        font-size: 2.2rem;
        line-height: 3vh;
        text-align: center;
    }

    .p1 {
        font-size: 3rem;
        margin: 0;
        line-height: 4vh;
        margin-bottom: 3vh;
    }

    .img1 {
        border-radius: 50%;
        width: 50%;
        height: 30%;
        margin-top: 3vh;
        border: 6px solid #e5e5e5;
        box-shadow: 0 0 40px #000000;
    }
}
