@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.body {
    background-color: #737373;
    color: #ffffff;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.img {
    width: 100%;
}

.spusok {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 3vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}

.spusok ol {
    list-style-type: none;
    font-size: 2vh;
    margin: 3vh;
}

.footer {
    text-align: center;
    font-size: 3rem;
    margin: 3vh;
}

@media (max-width: 1000px) {
    .spusok {
        width: 90%;
        font-size: 2.5rem;
    }
    .spusok ol {
        font-size: 2.4rem;
        line-height: 3vh;
        text-align: center;
    }
}
